GOOGLE_CLIENT_ID=your-client-id-here
GOOGLE_API_KEY=your-api-key-here
COOKIE_SECRET=your-random-secret-here

# Don't change these without a good reason
GOOGLE_SCOPES='["https://www.googleapis.com/auth/gmail.readonly", "openid", "https://www.googleapis.com/auth/userinfo.email"]'
REDIRECT_URI=http://localhost:8000/login
ENV=dev
CLIENT_SECRETS_FILE="credentials.json"
APP_URL=http://localhost:3000