<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobseeker Analytics</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        header {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;

            
        }
        header > a {
            color: white;
            text-decoration: none;
            display: block;
            margin-top: 10px;
        }
        header > h1 {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }
        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 80px;
        }
        h1, h2 {
            color: #333;
        }
        p, ul {
            font-size: 1.1em;
            line-height: 1.6;
        }
        code {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 4px;
            display: block;
            margin-top: 10px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
        a {
            color: #0066cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: white;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        footer > a {
            color: white;
            text-decoration: none;
            display: block;
            margin-top: 10px;
            padding-bottom: 10px;
        }
        img {
            max-width: 100%;
            border-radius: 8px;
        }
        details {
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Jobseeker Analytics</h1>
        <a href="https://github.com/lnovitz/jobseeker-analytics" target="_blank">View Code on GitHub</a>
    </header>

    <main>
        <h2>Did you email us yet? No?</h2>
        - To beta test, [send us an email](mailto:help@jobba.help?subject=JobbaHelp%20Free%20Trial&body=my%20google%20gmail%20address%20is).
            1. Mention how you heard about the app (which community, friend’s name)
            2. I’ll respond as soon as I can to give you access (depends on Google’s beta testing user limits)
        <h2>Did you get a confirmation email from us? Ready to get started?</h2>
        <a href="/login" style="text-decoration: none;">
            <button style="padding: 10px 20px; font-size: 16px; background-color: #4CAF50; color: white; border: none; cursor: pointer; border-radius: 5px;">
                Yes! Let's do this!
            </button>
        </a>

        <h2>What's this about?</h2>
        <p style="font-size: 24px;">&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;&#x2193;</p>

        <h2>"Um... What's so special about another job tracker spreadsheet?"</h2>
        <p>What's special is that the spreadsheet is <strong>automagically updated</strong>.</p>
        <p>You do not have to update the spreadsheet. You login with Google, and bam! </p> 
        <p>The spreadsheet is generated for you.</p>

        <h2>"Uhh... are you going to read all my emails?!"</h2>
        <p>Of course not, I don't have time to read all your emails. :)</p>
        <h2>Here's how it works...</h2>
        <p>When you login to the app with Google, a token is created that expires in 1 hour. </p>
        <p>The token is used to access your Gmail account.</p>
        <p>The app gathers emails that match a predefined filter.</p>
        <pre>
            '(subject:"thank" AND from:"no-reply@ashbyhq.com") OR '
            '(subject:"thank" AND from:"careers@") OR '
            '(subject:"thank" AND from:"no-reply@greenhouse.io") OR '
            '(subject:"application was sent" AND from:"jobs-noreply@linkedin.com") OR '
            'from:"notification@smartrecruiters.com" OR '
            'subject:"application received" OR '
            'subject:"received your application" OR '
            'subject:"your application to" OR '
            'subject:"applied to" OR '
            'subject:"your application was sent to" OR '
            'subject:"thank you for your submission" OR '
            'subject:"thank you for applying" OR '
            'subject:"thanks for applying to" OR '
            'subject:"confirmation of your application" OR '
            'subject:"your recent job application" OR '
            'subject:"successfully submitted" OR '
            'subject:"application received" OR '
            'subject:"application submitted" OR '
            'subject:"we received your application" OR '
            'subject:"thank you for your submission" OR '
            'subject:"thank you for your interest" OR '
            'subject:"thanks for your interest" OR '
            'subject:"thank you for your application" OR '
            'subject:"thank you from" OR '
            'subject:"application has been submitted" OR '
            '(subject:"application to" AND subject:"successfully submitted") OR '
            '(subject:"your application to" AND subject:"has been received") OR '
            '(subject:"your application for" AND -subject:"update") OR '
            'subject:"your job application has been received" OR '
            'subject:"thanks for your application" OR '
            'subject:"job application confirmation" OR '
            'subject:"ve been referred" OR '
            '(subject:"we received your" AND subject:"application")'
        </pre>
        <p>Relevant data, such as the sender, subject, and date, is extracted into a spreadsheet.</p>
        <p>The email pruning process takes time, but when it's done, you can download your data.</p>
        <h2>Your data will look something like this:</h2>
        <img src="https://github.com/user-attachments/assets/951ae900-c875-4745-9d4b-ac77d313d281" alt="Screenshot example of the exported spreadsheet">
        <h2>Did you email us yet? No?</h2>
        - To beta test, [send us an email](mailto:help@jobba.help?subject=JobbaHelp%20Free%20Trial&body=my%20google%20gmail%20address%20is).
            1. Mention how you heard about the app (which community, friend’s name)
            2. I’ll respond as soon as I can to give you access (depends on Google’s beta testing user limits)
        <h2>Did you get a confirmation email from us? Ready to get started?</h2>
        <a href="/login" style="text-decoration: none;">
            <button style="padding: 10px 20px; font-size: 16px; background-color: #4CAF50; color: white; border: none; cursor: pointer; border-radius: 5px;">
                Yes! Let's do this!
            </button>
        </a>

        <h2>Do you code and want to volunteer?</h2>
        <ul>
            <li>Take a look at the <a href="https://github.com/lnovitz/jobseeker-analytics/issues">issues list</a> and comment on the issue you're interested in fixing.</li>
            <li><em>Note:</em> Beginners are welcome!</li>
            <li>I hope to create a safe space for new open source contributors.</li>
            <li>No question is dumb.</li>
        </ul>

        <h2>Vision</h2>
        <p>As a job seeker with a Gmail account, I want to be able to calculate my initial application response rate with the touch of a button.</p>

        <h2>Example</h2>
        <p>Below is an example of a typical email you'd receive after applying for a role.</p>

        <blockquote>
            <strong>From:</strong> noreply-hr@flyingunicornsarefake.com<br>
            <strong>Date:</strong> January 1<br>
            <strong>Subject:</strong> We received your application<br>
            <strong>Body:</strong> Thanks for applying to FlyingUnicorns! We'll reach out if there's a fit.
        </blockquote>

            <p>Let's imagine I sent a total of 10 applications on January 1, including the one above for FlyingUnicorns.</p>

            <blockquote>
                <strong>From:</strong> noreply-hr@company1isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 1! We'll reach out if there's a fit.
            </blockquote>
            <!-- Repeat for other companies (2 through 9) -->
            <blockquote>
                <strong>From:</strong> noreply-hr@company1isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 1! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company2isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 2! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company3isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 3! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company4isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 4! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company5isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 5! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company6isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 6! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company7isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 7! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company8isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 8! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@company9isfake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to Company 9! We'll reach out if there's a fit.
            </blockquote>
            <blockquote>
                <strong>From:</strong> noreply-hr@flyingunicornsarefake.com<br>
                <strong>Date:</strong> January 1<br>
                <strong>Subject:</strong> We received your application<br>
                <strong>Body:</strong> Thanks for applying to FlyingUnicorns! We'll reach out if there's a fit.
            </blockquote>
            

            <p>And two weeks later, on January 14, the only response I've gotten is from FlyingUnicorns...</p>
            <blockquote>
                <strong>From:</strong> noreply-hr@flyingunicornsarefake.com<br>
                <strong>Date:</strong> January 14<br>
                <strong>Subject:</strong> Update from FlyingUnicorns<br>
                <strong>Body:</strong> In your application we noticed you said you live in outer space. We only hire on Earth, sorry! We'll keep in touch if our borders open up though.
            </blockquote>

            <p>While that's a response, it's not the response we're looking for.</p> 
            <p>So far, <strong>0%</strong> response rate. :(</p>
            <p>But wait, there's hope the next day!</p>
            <blockquote>
                <strong>From:</strong> fakeperson@company6isfake.com<br>
                <strong>Date:</strong> January 15<br>
                <strong>Subject:</strong> Interview Availability for Company 6<br>
                <strong>Body:</strong> Thanks for applying to Company 6! We'd like to schedule a short call to discuss the chocolate tasting role you applied for.
            </blockquote>
            <p>At this point, our response rate is <strong>10%</strong>.</p>

        <h2>Thoughts for Later Iterations</h2>
        <ul>
            <li>Imagine if you could check your response rates against different industries... you could make your job search more targeted and effective.</li>
            <li>Imagine if you had a tool to save the resume you used when applying for roles, and could check the response rates against the resume version you used against a specific industry.</li>
            <li>Imagine if you could track your success rates with referrals, or see at what stage you're getting stuck.</li>
        </ul>

        <h2>Resources</h2>
        <ul>
            <li><a href="https://developers.google.com/gmail/api/reference/rest/v1/users.messages/list">Gmail Messages API Doc</a></li>
            <li><a href="https://console.cloud.google.com/apis/credentials">Google Console</a></li>
            <li><a href="https://www.phyl.org/">Never Search Alone - phyl.org - Free Support Group for Job Seekers</a></li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2025 Lianna Novitz</p>
        <a href="https://github.com/lnovitz/jobseeker-analytics" target="_blank">View Code on GitHub</a>
    </footer>

</body>
</html>
